*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color: white;
    font-family: sans-serif;
}
.container{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: calc(100% / 4 - 2rem);
}
img{
    width: 100%;
}